/* Large only */
@media screen and (min-width: 75em) and (max-width: 106em) {
/**************** footer ***********************/
.rating > label {
font-size: 3vw;
}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
/**************** footer ***********************/
.rating > label {
font-size: 3vw;
}
}

/* Large and up */
@media screen and (min-width: 64em) {
/**************** footer ***********************/
.footer-box .links:last-child, .footer-box .links {
float: right;
margin-left: 50px;
margin-right: 0px;

}

/**************** stars size ***********************/
.rating > label {
font-size: 3vw;
}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
/**************** stars size ***********************/
.rating > label {
font-size: 5vw;
}

/**************** about section ***********************/

.about-section.grey-bg {
background: none;
}

.top-icon-transparent:before {
background-image: none;
}

}


/* Medium and up */
@media screen and (min-width: 40em) {

/**************** stars size ***********************/
.rating > label {
font-size: 3vw;
}

/**************** call-to-action ***********************/
.call-to-action .right-side {
padding: 20px 0px;
/* float: none; */

}

}

/* Small only */
@media screen and (max-width: 39.9375em) {


/**************** about section ***********************/

.about-section.grey-bg {
background: none;
}

.top-icon-transparent:before {
background-image: none;
}

/**************** call to action ***********************/
/**************** footer ***********************/
.footer-box .links:last-child, .footer-box .links {
float: right;
}

/**************** top social media ***********************/
.header-top .info-container, .header {
text-align: right;
}

.info-container ul li a p {
font-size: 0.6rem;
font-weight: bold;
}

.info-container ul li a img {
width: 30px;
font-weight: bolder;
}

#testimonials_icon {
width: 45px;
}

/**************** stars size ***********************/
.rating > label {
font-size: 10vw;
}

/**************** call-to-action ***********************/
.call-to-action .right-side {
padding: 20px 0px;
float: none;
}

.call-to-action .left-side-img, .call-to-action .left-side-text, .call-to-action .left-side {

float: none;
}
.left-side-img{
margin-bottom: 30px;
}
}
