/* Responsive Css */

@media only screen and (max-width: 1799px) {

    .my-detail-image {
        width: 1200px;
        height: 600px
    }
}


@media only screen and (max-width: 1699px) {

    .my-detail-image {
        width: 1200px;
        height: 600px
    }
}

@media only screen and (max-width: 1599px) {
    .my-detail-image {
        width: 1200px;
        height: 600px
    }

}

@media only screen and (max-width: 1349px) {
    .my-detail-image {
        width: 1200px;
        height: 600px
    }

}


@media only screen and (max-width: 1299px) {

    .my-detail-image {
        width: 1200px;
        height: 800px
    }

}


@media only screen and (max-width: 1200px) {
    .my-detail-image {
        width: 1200px;
        height: 800px
    }

}

@media only screen and (max-width: 991px) {

    .my-detail-image {
        width: 1200px;
        height: 600px
    }

}


@media only screen and (min-width: 768px) {
    .my-detail-image {
        width: 1200px;
        height: 600px
    }
}


@media only screen and (max-width: 767px) {


    .my-detail-image {
        width: 1200px;
        height: 400px
    }

}

@media only screen and (max-width: 599px) {

    .my-detail-image {
        width: 1200px;
        height: 300px
    }
}


@media only screen and (max-width: 499px) {


    .my-detail-image {
        width: 1200px;
        height: 300px
    }
}


@media only screen and (max-width: 399px) {

    .my-detail-image {
        width: 1200px;
        height: 300px
    }

}
