/* Start Body scroller */
.scroller {
    overflow-y: scroll;
    scrollbar-color: #C0C0C0 #F1F1F1;
}

::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #F1F1F1;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #C0C0C0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #A8A8A8;
}


.main-footer .footer-widget .widget-content .single-item h3 {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 50px;
    font-weight: 500;
    margin-bottom: 3px;
}


.shop-details .discription-inner .tabs-content .customer-review .single-item {
    position: relative;
    display: block;
    padding: 31px 20px 31px 125px;
    border: 1px solid #dddad8;
    border-radius: 15px;
    min-height: 150px;
}

.reports-section .single-column {
    margin-bottom: 20px;
    margin-top: 20px;
}

.essentials-section {
    margin-top: 70px;
    margin-bottom: 280px;
}

.essentials-section .single-column {
    margin-bottom: 20px;
    margin-top: 20px;
}

.events-block-two .inner-box .post-date h3 {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;

    border: 4px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 0px;
}


.my-social-style-one li:last-child {
    margin: 0px !important;
}

.my-social-style-one li a {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background: transparent;
    font-size: 14px;
    color: #232323;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
}

.my-social-style-one li a:hover {
    color: #f65024;
}

.my-social-style-one li a:before {
    position: absolute;
    content: '';
    background-color: white;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    z-index: -1;
    background-repeat: no-repeat;
}

#social-facebook-icon {
    color: #0571e6;
}

#social-facebook-icon:hover {
    color: #165aa2;
}

#social-twitter-icon {
    color: #1da1f2;
}

#social-facebook-icon:hover {
    color: #286b93;
}

#social-instagram-icon {
    color: #b64c9f;
}

#social-instagram-icon:hover {
    color: #83366f;
}

#social-youtube-icon {
    color: #f70000;
}

#social-youtube-icon:hover {
    color: #ab1616;
}

/*.my-team-section {*/
/*    margin: 101px 0px 110px 0px;*/
/*}*/

.my-p {
    color: #f65024;
    font-size: 14px;
    font-weight: bolder;
}

.my-h1 {
    color: #f65024;
    font-weight: bolder;
}

.my-word-break {
    word-break: break-word;
}

.font-size-14 {
    font-size: 14px;
}

.my-fa-caret {
    font-size: 18px;
    font-weight: bolder;

}

.my-video-photo {
    width: 500px;
    height: 370px
}


.my-download-link li a {
    position: relative;
    display: inline-block;
    /* width: 44px; */
    height: 44px;
    line-height: 44px;
    background: transparent;
    font-size: 14px;
    color: #f65024;
    font-weight: bold;
    border-radius: 50%;
    z-index: 1;
}

.my-download-link li a:hover {
    color: #f65024;
}


.case-block-four .inner-box .content-box .info-box li i {
    color: #f65024;
}


.case-block-four .inner-box .content-box .info-box li a:hover {
    color: #f65024;
}

.logo_name_ar {
    font-size: 20px;
    font-weight: bolder
}

.logo_name_en {
    font-size: 20px;
    font-weight: bolder
}


#my_darkred {
    color: darkred
}

#my_green {
    color: green
}


#my_darkred {
    color: darkred
}

#my_green {
    color: green
}
